---
import { components, docPages } from '@/scripts/constants'
import { ChevronDownIcon } from '@lucide/astro'

const pathname = Astro.url.pathname

const isCurrentInDocs = docPages.some((page) => page.href === pathname)
const isCurrentInComponents = components.some((page) => page.href === pathname)
---

<div class='accordion-group'>
	<details open={isCurrentInDocs}>
		<summary>Getting started <ChevronDownIcon /></summary>
		<ul class='list-unstyled padding-xs'>
			{
				docPages.map((page) => (
					<li>
						{page.href === pathname ? (
							<a href={page.href} class='btn link' aria-current='page'>
								{page.name}
							</a>
						) : (
							<a href={page.href} class='btn link'>
								{page.name}
							</a>
						)}
					</li>
				))
			}
		</ul>
	</details>
	<details open={isCurrentInComponents}>
		<summary>Components <ChevronDownIcon /></summary>
		<ul class='list-unstyled padding-xs'>
			{
				components.map((page) => (
					<li>
						{page.href === pathname ? (
							<a href={page.href} class='btn link' aria-current='page'>
								{page.name}
							</a>
						) : (
							<a href={page.href} class='btn link'>
								{page.name}
							</a>
						)}
					</li>
				))
			}
		</ul>
	</details>
</div>
