---
import { type Page, sections } from '@/scripts/constants'
import { ChevronDownIcon } from '@lucide/astro'

type Props = {
	currentPage: Page | undefined
}

const { currentPage } = Astro.props
---

<div class='accordion-group'>
	{
		sections.map((section) => (
			<details open={section.pages.some((page) => page.href === currentPage?.href)}>
				<summary>
					{section.name} <ChevronDownIcon aria-hidden />
				</summary>
				<ul class='list-none padding-xs'>
					{section.pages.map((page) => (
						<li>
							{page.href === currentPage?.href ? (
								<a href={page.href} class='btn outline' aria-current='page'>
									{page.name}
								</a>
							) : (
								<a
									href={page.href}
									class='btn ghost'
									style={`view-transition-name: component-${page.name.toLowerCase()};`}
								>
									{page.name}
								</a>
							)}
						</li>
					))}
				</ul>
			</details>
		))
	}
</div>
