---
import { type Page, components, docPages } from '@/scripts/constants'
import { ChevronDownIcon } from '@lucide/astro'

type Props = {
	currentPage: Page | undefined
}

const { currentPage } = Astro.props

const isCurrentInDocs = docPages.some((docPage) => docPage.href === currentPage?.href)
const isCurrentInComponents = components.some(
	(componentPage) => componentPage.href === currentPage?.href,
)
---

<div class='accordion-group' data-testid='navigation-accordion'>
	<details open={isCurrentInDocs}>
		<summary>Getting started <ChevronDownIcon aria-hidden /></summary>
		<ul class='list-none padding-xs'>
			{
				docPages.map((docPage) => (
					<li>
						{docPage.href === currentPage?.href ? (
							<a href={docPage.href} class='btn outline' aria-current='page'>
								{docPage.name}
							</a>
						) : (
							<a href={docPage.href} class='btn ghost'>
								{docPage.name}
							</a>
						)}
					</li>
				))
			}
		</ul>
	</details>
	<details open={isCurrentInComponents}>
		<summary>Components <ChevronDownIcon aria-hidden /></summary>
		<ul class='list-none padding-xs'>
			{
				components.map((componentPage) => (
					<li>
						{componentPage.href === currentPage?.href ? (
							<a href={componentPage.href} class='btn outline' aria-current='page'>
								{componentPage.name}
							</a>
						) : (
							<a href={componentPage.href} class='btn ghost'>
								{componentPage.name}
							</a>
						)}
					</li>
				))
			}
		</ul>
	</details>
</div>
