---
import { ArrowLeftIcon, ArrowRightIcon } from '@lucide/astro'
import { type Page, sections } from '@/scripts/constants'
import NavigationAccordion from '@/components/NavigationAccordion.astro'
import RootLayout from '@/layouts/RootLayout.astro'

type Props = {
	name: string
}

const { name } = Astro.props

const allPages: Array<Page> = sections.reduce<Array<Page>>(
	(accumulator, section) => accumulator.concat(section.pages),
	[],
)

const componentIndex = allPages.findIndex((c) => c.name === name)
const component = allPages[componentIndex]
const prevComponent = allPages.at(componentIndex - 1)
const nextComponent = allPages.at(componentIndex + 1 > allPages.length - 1 ? 0 : componentIndex + 1)
---

<title>{component ? component.name : 'Page not found'} | Tarragon-UI</title>

<RootLayout>
	<div class='grid-desktop flex-1'>
		<aside class='show-above-desktop padding-3xl o-cell-one-fourth'>
			<NavigationAccordion currentPage={component} />
		</aside>
		<main id='main' class='container o-cell-three-fourths'>
			{
				component ? (
					<>
						<div class='stack'>
							<div class='split'>
								<h1>{component.name}</h1>
								{(prevComponent || nextComponent) && (
									<div class='cluster'>
										{prevComponent && (
											<a
												href={prevComponent.href}
												class='btn outline size-icon'
												aria-label='Go to previous component'
											>
												<ArrowLeftIcon aria-hidden />
											</a>
										)}
										{nextComponent && (
											<a
												href={nextComponent.href}
												class='btn outline size-icon'
												aria-label='Go to next component'
											>
												<ArrowRightIcon aria-hidden />
											</a>
										)}
									</div>
								)}
							</div>
							{component.description && (
								<p class='text-muted'>{component.description}</p>
							)}
						</div>
						<slot />
					</>
				) : (
					<h1>Page not found</h1>
				)
			}
		</main>
	</div>
</RootLayout>
